<section id="about-me-container">
    <div class="wave" id="waveTop1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path
                d="M0,128L48,133.3C96,139,192,149,288,138.7C384,128,480,96,576,69.3C672,43,768,21,864,42.7C960,64,1056,128,1152,133.3C1248,139,1344,85,1392,58.7L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
            </path>
        </svg>
    </div>

    <div id="info-container">
        <div id="info-description">
            <h1>Sobre mi</h1>
            <p>
                Hola! <br />
                Mi nombre es Javier y soy un joven desarrollador web. <br>
                Tras terminar mis estudios, me he embarcado en la ardua tarea de encontrar un primer
                equipo real del que formar parte, para poder seguir aprendiendo y desarrollandome como profesional. <br>
                Estaré encantado de charlar con quien me contacte y compartir experiencias! Además de por supuesto, 
                oportunidades laborales.

            </p>
        </div>
        <div id="info-graphics">
            <div class="timeline">
                <ul>
                    <li>
                        <span>2020 - 2022</span>
                        <div class="content">
                            <h3>Sistemas Microinformáticos y Redes</h3>
                            <p>
                                Protocolos, redes, mantenimiento de equipos, documentación y pequeños proyectos de software. <br> <br>
                                <b>Empresa FCT:</b> Tecnicom Informatica <br>
                                <b>Proyectos relevantes:</b> <a href="https://apartamentosmanzano.com" target="_blank"> Web de reserva de habitaciones</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <span>2022 - 2024</span>
                        <div class="content">
                            <h3>Desarrollos de aplicaciones web</h3>
                            <p>
                                Desarrollo de aplicaciones internas con Angular y Springboot (JPA, MySQL, REST API) <br> 
                                Documentacion Postman, pruebas unitarias JUnit, manuales de usuario, etc... <br> <br>
                                <b>Empresa FCT:</b> Eviden / Atos Sevilla <br>
                                <b>Proyectos relevantes:</b> Proyectos internos <b>de uso real</b> de Eviden/Atos.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div class="card">
                <h4>IES Heliche</h4>
                <small>2020-2022</small>
            </div> -->


        </div>
    </div>

</section>