#footer-container {
    position: relative;
    color: rgb(238, 238, 238);
    display: flex;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: #376577;

    h1 {
        z-index: 3;
        font-size: 60px;
        padding: 0;
        margin: 0;
    }

    h2 {
        z-index: 3;
        font-size: 30px;
        padding: 0;
        margin: 0;
    }

    .wave {
        height: fit-content;
        width: 100%;
        position: absolute;
    }

    #waveTop1 {
        top: 0;
        z-index: 1;
        fill: rgb(71, 81, 179);
    }

    #waveTop2 {
        top: 0;
        z-index: 0;
        fill: rgba(255, 255, 255, 0.103);
    }

    #form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;

        form {
            z-index: 100;
            font-weight: bold;
            color: #072736;
            margin: 20px;
            padding: 20px;
            border-radius: 20px;
            width: 60%;
            backdrop-filter: blur(8px);
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;

            input,
            label,
            textarea {
                width: 80%;
                margin-top: 15px;
            }

            input,
            textarea {
                padding: 4px 8px;
                background-color: rgb(241, 241, 241);
                font-weight: bold;
                font-family: 'SpaceMono';
                height: 25px;
                border-radius: 15px;
                border: none;
            }

            textarea {
                height: 150px;
                resize: none;
            }

            button {
                margin-top: 20px;
                color: rgba(255, 255, 255, 0.801);
                border-radius: 15px;
                width: 20%;
                padding: 10px;
                background-color: #072736;
                font-weight: bold;
                font-family: 'SpaceMono';
                border: none;
            }
            ::placeholder{
                font-weight: normal;
                color: #c9c9c9;
            }
            .success-message {
                margin-top: 10px;
                color: white;
                background-color: rgb(62, 155, 38); // Color de fondo verde
                padding: 10px;
                border-radius: 5px;
                display: inline-block;
            }

            .error-message {
                margin-top: 10px;
                color: white;
                background-color: rgb(197, 44, 44); // Color de fondo rojo
                padding: 10px;
                border-radius: 5px;
                display: inline-block;
            }
        }
    }

    /* Media Queries para diferentes tamaños de pantalla */
    @media (max-width: 800px) {
        h1 {
            font-size: 40px; /* Reduce el tamaño del título */
        }

        h2 {
            font-size: 24px; /* Reduce el tamaño del subtítulo */
        }

        #form-container {
            width: 100%; /* Aumenta el ancho del contenedor en pantallas pequeñas */
            form {
                border-radius: 0;
                width: 100%; /* El formulario ocupa todo el ancho */
                padding: 10px 0; /* Reduce el padding */
                button {
                    width: 50%; /* Aumenta el ancho del botón */
                }
            }
        }


    }

    @media (max-width: 500px) {
        h1 {
            font-size: 32px; /* Reduce aún más el tamaño del título */
        }

        h2 {
            font-size: 20px; /* Reduce aún más el tamaño del subtítulo */
        }

        input,
        textarea {
            height: 30px; /* Aumenta la altura de input y textarea */
        }

        textarea {
            height: 100px; /* Ajusta la altura del textarea */
        }

        button {
            width: 70%; /* Aumenta el ancho del botón */
            padding: 8px; /* Ajusta el padding del botón */
        }
    }
}
