<div id="nav-container">
    <div id="nav">

        <div class="nav-item" [class.active]="activeSection === 'home-container'" >
            <a href="#home-container"><i class="fa fa-home"></i></a>
        </div>
        <div class="nav-item" [class.active]="activeSection === 'about-me-container'" >
            <a href="#about-me-container"><i class="fa fa-receipt"></i></a>
        </div>
        <div class="nav-item" [class.active]="activeSection === 'tech-stack-container'" >
            <a href="#tech-stack-container"><i class="fa fa-layer-group"></i></a>
        </div>
        <div class="nav-item" [class.active]="activeSection === 'footer-container'" >
            <a href="#footer-container"><i class="fa fa-inbox"></i></a>
        </div>
    </div>
</div>